@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.footerContainer > h1 {
    font-size: 1em;
}